:root{
    --main-color: #00af55;
    --sec-color: #171717;
    --ter-color: #e9e9e9;
    --shadow-color: #130a35;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--ter-color);
    margin: 0 10rem 0 10rem;
}

#header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

h1{
    color: var(--main-color);
    font-size: 4rem;
}

h2{
    color: var(--sec-color);
    font-size: 2rem;
}

.foto_Lucas{
    width: 20vw;
    border-radius: 25%;
    display: flex;
    margin: 1rem auto;
}

.titles{
    color: var(--main-color);
    font-size: 2rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}
.subtitles{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--sec-color);
    display: flex;
    justify-content: center;
    text-align: center;
}